[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "libs/tinyfd"]
	path = libs/tinyfd
	url = http://git.code.sf.net/p/tinyfiledialogs/code
[submodule "libs/zstd"]
	path = libs/zstd
	url = https://github.com/facebook/zstd.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json
[submodule "libs/imgui_club"]
	path = libs/imgui_club
	url = https://github.com/ocornut/imgui_club
[submodule "libs/astc-encoder"]
	path = libs/astc-encoder
	url = https://github.com/ARM-software/astc-encoder
